@using parkTrumpet.Web.Models
@model UserLoginModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "UserLogin", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Username)
    <br />
    @Html.PasswordFor(m => m.Password)
    <br/>

    <input type="submit" name="submit" value="Log in" />
}
@Html.ActionLink("Create Account","ShowRegistration")
<div style="color:red">@Model.Message</div>


