@model parkTrumpet.Web.Models.AdminDashboardModel
@{
    ViewBag.Title = "Index";
}
Dashboard
<table border="1" cellpadding="5">
    <tr>
        <td>
        </td>
    </tr>
</table>
@Html.Partial("ParkingList",Model)