
<html lang="en-us">

<head>

    <!-- # CSS Plugins -->

    
</head>

<body>
    <h1>Welcome to Parkare system</h1>
    <div class="d-flex justify-content-around">
    <div class="card" style="width: 18rem;"><a href="/UserLogin/" class="card-body">User</a></div>
    <div class="card" style="width: 18rem;"><a href="/AdminLogin/" class="card-body">Admin</a></div>
    <div class="card" style="width: 18rem;"><a href="/ParkingConsole/" class="card-body">Console</a></div>
   </div>
</body>
</html>
        