<table border="1" cellpadding="5">
    @foreach (var row in Model.CompletedSessions)
    {
        <tr>
            <td>@row.Parking.Name</td>
            <td>@row.Car.RegistrationPlate</td>
            <td>@row.ArrivalTime</td>
            <td>@row.DepartureTime</td>
            <td>Paid</td>
        </tr>
    }
</table>