@using parkTrumpet.Web.Models
@model UserDashboardModel
@{
    ViewBag.Title = "Index";
}
<h2>User: @Model.User.Username</h2>
<table border="1" cellpadding="5">
    <tr>
        <td>
            @Ajax.ActionLink("Garage", "ShowGarage", "UserDashboard", new { userId = Model.User.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "main", InsertionMode = InsertionMode.Replace })
        </td>
        <td>
            @Ajax.ActionLink("History", "ShowHistory", "UserDashboard", new { userId = Model.User.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "main", InsertionMode = InsertionMode.Replace })
        </td>
        <td>
            @Ajax.ActionLink("Checkout", "ShowCheckout", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "main", InsertionMode = InsertionMode.Replace })
        </td>
    </tr>
</table>
    <section id="main">
    </section>
    <section id="main2">
    </section>
